$primary-color: #e4c1ae;
$primary-lighten-color: lighten(#e4c1ae, 5%);
$primary-darken-color: darken(#e4c1ae, 5%);
$blue-color: royalblue;
$blue-lighten-color: lighten(royalblue, 5%);
$blue-darken-color: darken(royalblue, 5%);
$dark-color: #121212;
$dark-lighten-color: lighten(#121212, 5%);
$dark-darken-color: darken(#121212, 5%);
$background-color: #ffffff;
